@font-face { font-family: Hack; src: url('fonts/Hack-Regular.ttf'); }
@font-face { font-family: Hack; font-weight: bold; src: url('fonts/Hack-Bold.ttf');}

html * {
    font-family: Hack, monospace;
}

html, body, main {
    background: black;
    color: white;
    height: 100%;
}

#main {
    width: 75%;
    margin: auto;
}

textarea {
    width: 100%;
    margin: 0;
    height: 30vh;
    max-height: 30vh;
    overflow-y: auto;
    overflow-x: auto;
    border: 0;
    resize: none;
}

.table-head {
    position: sticky;
    top: 0;
    background: grey;
}

.cell {
    border: 1px solid white;
    height: 100%;
    flex: 1;
    background: grey;
    padding: 0 5px;
}

h3.cell {
    margin: auto;
}

#send {
    margin-top: 8px;
}

#logo, footer {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

#url {
    width: 100%;
}

.horizontal-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.vertical-flex {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.control {
    background: grey;
    font-size: 2rem;
    color: white;
    margin-top: 8px;
    margin-bottom: 8px;
    overflow-y: scroll;
}

.invisible {
    display: none;
}

.padding {
    padding: 2px;
}

.headers {
    height: 30vh;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.white-dialog {
    background-color: white;
    width: 15vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#progress-bar {
    width: 10vw;
}

::placeholder {
    color: white;
}